@model PizzAkuten.Models.Payment
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<br />
<h4>Betalning</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <p>Välj betalningmetod</p>
        </div>
  
   <br />
        <form asp-controller="Payment" asp-action="Create" method="post">
            <div>
                <img class="cardImage" src="~/images/VisaCard.png" alt="Alternate Text" />
                <input id="visa" class="paymentMethod" name="creditCardRadio" value="1" type="radio" />
            </div>
            <div>
                <img class="cardImage" src="~/images/MasterCard.png" alt="Alternate Text" />
                <input id="master" class="paymentMethod" name="creditCardRadio" value="2" type="radio" />
            </div>
            <div>
                <img class="cardImage" src="~/images/Swish.jpg" alt="Alternate Text" />
                <input id="swish" class="paymentMethod" name="creditCardRadio" value="3" type="radio" />
            </div>

            <div class="hidden" id="creditCardForm">
                <input name="NonAccountUserId" hidden value="@ViewBag.NonAccountUserId" />
                @if (SignInManager.IsSignedIn(User))
                {

                    <input name="UserId" hidden value="@UserManager.FindByIdAsync(SignInManager.Context.User.Identity.Name)" />
                }

                <input name="OrderId" hidden value="@ViewBag.OrderId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CardNumber" class="control-label"></label>
                    <input asp-for="CardNumber" class="form-control" />
                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                </div>
              
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="Month" class="control-label"></label>
                    <select asp-for="Month" class="form-control" asp-items="ViewBag.Month"></select>
                    <span asp-validation-for="Month" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Year" class="control-label"></label>
                    <select asp-for="Year" class="form-control" asp-items="ViewBag.Year"></select>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cvv" class="control-label"></label>
                    <input asp-for="Cvv" class="form-control cvv" />
                    <span asp-validation-for="Cvv" class="text-danger"></span>
                </div>
            </div>
            </div>
            <br />
         
            <div class="form-group">
                <input type="submit" value="Betala" class="btn btn-default" />
            </div>
      
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
