@inject PizzAkuten.Services.DishService DishService

@{
    var ingredients = DishService.GetAllIngredients();
}

<form>
    @foreach (var item in ingredients)
    {
        <p>
        @item.Name
        @item.Price Kr
        <input type="checkbox" value="@item.IngredientId"/>
            </p>
    }
</form>