@inject PizzAkuten.Services.OrderService OrderService

    @{ 
        var cart = OrderService.GetOrderForCurrentSession(Context.Session);
    }
  <h5>Kundkorg</h5>
        <div class="col-md-3">
            @if (cart != null)
            {
                @foreach (var dish in cart.OrderItems)
                {
                    <div>
                        @dish.Dish.Name, @dish.Quantity
                    </div>
                }

            }
        


        </div>
    
  
