

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

    <h4>Leveransadress</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>Förnamn</label>
        <input name="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label>LastName</label>
        <input name="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Gata</label>
        <input name="Street" class="form-control" />
    </div>
    <div class="form-group">
        <label>Postnummer</label>
        <input name="ZipCode" class="form-control" />
    </div>
    <div class="form-group">
        <label>Stad</label>
        <input name="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input name="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Telefonnummer</label>
        <input name="Phone" class="form-control" />
    </div>
    <button type="submit" class="btn btn-default">Spara</button>
</form>
