@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    PizzAkuten<br />
    PizzaLandet<br />
    <abbr title="Phone">P:</abbr>
    123456789
</address>

<address>
    <strong>Support:</strong> <a href="mailto:maria@siso.se">Support@example.com</a><br />
</address>
